<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss.SSS"} %-5level %thread %logger{36} - [trace_id=%X{trace_id:--} span_id=%X{span_id:--} trace_flags=%X{trace_flags:--}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/madrileno.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss.SSS"} %-5level %thread %logger{36} - [trace_id=%X{trace_id:--} span_id=%X{span_id:--} trace_flags=%X{trace_flags:--}] %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/sample-backend-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- or whenever the file size reaches 64 MB -->
            <maxFileSize>64 MB</maxFileSize>
            <!-- keep 28 days' worth of history -->
            <maxHistory>28</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="OpenTelemetry"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <mdcAttributesIncluded>*</mdcAttributesIncluded>
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
    </appender>

    <root level="${LOG_LEVEL:-DEBUG}">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="OpenTelemetry"/>
    </root>

    <logger name="org.apache.hc" level="WARN"/>
    <logger name="software.amazon.awssdk" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

</configuration>
